.contant{
    padding: 70px 0;
}
.contant  h3{
    font-size: 36px;
    font-weight: 800;
    color: var(--thirdColor);
}
.contant button{
    background-color: var(--thirdColor);
    width: 100%;
    padding: 10px ;
    font-weight: 800;
}
.contant .information{
    margin: 70px 0;
}
.contant .information .box{

    padding: 40px  20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    text-align: center;
    height: 300px;
    transition: all ease-in .2s;
    margin: 20px 0;
}
.contant .information .box:hover{
    transform: translateY(-20px);
    background-color: var(--secondColor);
    box-shadow: 1px 1px 20px rgba(0,0,0,.2);
    color: #fff !important;
}

.contant .information .box svg{
    font-size: 60px;
    padding: 15px;
    border-radius: 50%;
    background-color: #07a16837;
    text-align: center;
    color: var(--secondColor);
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.contant .information .box:hover svg{
    background-color: #fff;
    color: var(--secondColor);
    animation: shaps_scails 1s ease-in-out infinite;
}
.contant .information .box .social{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px;
}
.contant .information .box .social svg{
    padding: 0;
    background-color: transparent;
    font-size: 20px !important;
}
.contant .information .box:hover .social svg {
    color: #fff;
    animation: none;
}